.env
.env.wp-salt

/docker/storage/app/initdb.d/*
!/docker/storage/app/initdb.d/.gitkeep
/docker/storage/app/setup.d/*
!/docker/storage/app/setup.d/.gitkeep

/phpmyadmin/*
!/phpmyadmin/public
/phpmyadmin/public/*
!/phpmyadmin/public/.gitkeep
!/phpmyadmin/public/config.inc.php

/wordpress/*
!/wordpress/cron
/wordpress/cron/*
!/wordpress/cron/.gitkeep
!/wordpress/public
/wordpress/public/*
!/wordpress/public/.gitkeep
!/wordpress/public/wp-config.php

/.idea
/.vscode