.env
.env.wp-salt

/docker/app/initdb.d/*
!/docker/app/initdb.d/.gitkeep

/phpmyadmin/*
!/phpmyadmin/public
/phpmyadmin/public/*
!/phpmyadmin/public/.gitkeep
!/phpmyadmin/public/config.inc.php

/wordpress/*
!/wordpress/public
/wordpress/public/*
!/wordpress/public/.gitkeep
!/wordpress/public/wp-config.php

/.idea
/.vscode